html, body {
    height: 1000%;
    margin: 0;
}
body {
    border: 10px solid coral;
    box-sizing: border-box;
}
p {
    color: hsl(0, 100%, 25%);
}
h1 {
    color: hsl(0, 100%, 25%);
}
h2 {
    color: hsl(0, 100%, 25%);
}

a {
    text-decoration: none;
}

.botonera {
    position: fixed; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white; 
    z-index: 1000;
}

.imgBotonera {
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

body {
    background-image: url(img/codioful-formerly-gradienta-LeG68PrXA6Y-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}  

h1 {
    background: linear-gradient(blue,green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.tabla-contenedor {
    border: 1px solid black;
    align-items:  center;
    justify-content: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.tabla-contenedor th {
    color: white;
    background-color: black;
    padding: 10px;
    letter-spacing: 5px;
}

.tabla-contenedor td{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid black;
}


.noticia2{
    position: relative;
    border: 2px solid black;
    padding: 10px;
    margin: 20px auto;
    width: 70%;
    background-color: white;
    margin-top: 200px;
    z-index: 0;
    display: flex;
}

.noticia2::before {
    content: "";
    background-image: url(img/Image_created_with_a_mobile_phone.png); /* Ruta de tu imagen de marca de agua */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2; 
    z-index: -1; 
}


.sidebar {
    position: sticky; 
    top: 0;
    width: 200px; 
    background-color: #f4f4f4; 
    padding: 20px; 
    z-index: 100; 
}


.espanol, .ingles {
    float: left;
    width: 50%;
    overflow-y: auto;
 
}

.ingles h2 {
    color: hsl(0, 0%, 0%);
}

.container {
    width: 80%;
    margin: 20px auto;
    overflow-y: auto;
    display: flex;
}

.scroll {
    width: 80%; 
    margin: 0 auto; 
    border: 10px solid black; 
    padding: 20px; 
    overflow-x: auto; 
    white-space: nowrap;
}

.clearfix {
    overflow: auto;
    border: 3px solid black;
}

.img1 {
    float:right;
}