html, body {
    height: 1000%;
    margin: 0;
}
body {
    border: 10px solid coral;
    box-sizing: border-box;
}
p {
    color: hsl(0, 100%, 25%);
}
h1 {
    color: hsl(0, 100%, 25%);
}
h2 {
    color: hsl(0, 100%, 25%);
}

a {
    text-decoration: none;
}

.botonera {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.imgBotonera {
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

body {
    background-image: url(img/codioful-formerly-gradienta-LeG68PrXA6Y-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
}  

h1 {
    background: linear-gradient(blue,green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.tabla-contenedor {
    border: 1px solid black;
    align-items:  center;
    justify-content: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.tabla-contenedor th {
    color: white;
    background-color: black;
    padding: 10px;
    letter-spacing: 5px;
}

.tabla-contenedor td{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid black;
}

.noticia-container {
    width: 80%; 
    margin: 0 auto; 
    border: 10px solid black; 
    padding: 20px; 
    overflow-x: auto; 
    white-space: nowrap;
}

.español {
    width: 50%;
    float: left;
}

.ingles {
    width: 50%;
    float: right;
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}